body {
    background-color: green;
    background-image: url("pingouin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

h1 {
    color: purple;
}

.moliere {
    color: white;
    opacity: 1.4;
}

article {
    background-color: red;
    opacity: 1.2;
    background-size: 15%;
    background-position: center;
    background-image: url("pingouin.png");
    background-repeat: no-repeat;

}

section {
    background-color: salmon;
    opacity: 0.6;
    background-size: auto;
    background-position: center
}

